<div class="file-uploader">
  <ng-container *ngIf="files$ | async as files">
    <button
      mat-flat-button
      color="primary"
      [disabled]="disabled"
      (click)="fileInput.click()"
      id="selectImage"
      *ngIf="files.length === 0"
    >
      Upload
    </button>
    <input
      type="file"
      #fileInput
      [attr.multiple]="multiple ? true : null"
      [disabled]="disabled"
      [attr.accept]="accept"
      hidden
    />

    <div class="file-uploader__files">
      <div
        class="file-uploader__wrap"
        *ngFor="let file of files; let i = index"
      >
        <ng-container
          *ngTemplateOutlet="
            file.error
              ? errorTemplate
              : file.image
              ? imageTemplate
              : fileTemplate;
            context: { $implicit: file, index: i }
          "
        >
        </ng-container>
        <div
          *ngIf="!disabled"
          class="file-uploader__remove"
          (click)="remove(file)"
        >
          Remove
        </div>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #errorTemplate let-uploadedFile let-index="index">
  <div class="file-uploader__error" id="error-{{ index }}">
    {{ uploadedFile.error.name }} - {{ uploadedFile.error.errorMessage }}
  </div>
</ng-template>

<ng-template #imageTemplate let-uploadedFile let-index="index">
  <div class="file-uploader__image" id="image-{{ index }}">
    <img
      src="{{ uploadedFile.image.src }}"
      title="{{ uploadedFile?.file?.name }}"
    />
  </div>
</ng-template>

<ng-template #fileTemplate let-uploadedFile let-index="index">
  <div class="file-uploader__file" id="file-{{ index }}">
    {{ uploadedFile.file.name }}
  </div>
</ng-template>
